.App {
  text-align: center;
}

.main-title {
  text-align: center;
  padding: 2% 0;
}

.col-md-3 {
  text-align: center;
  padding: 3% 0;
}

.col-md-8 {
  padding: 3%;
}

.col-md-8.app-details {
    margin-right: 3%;
}

.col-md-4.img-details {
    margin-right: -3%;
}

button > a {
  text-decoration: none;
  color: white;
}

p {
  white-space: pre-line;
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
